$peaBlank :#434343;
$peaGray :#686868;
$peaCoolWhite:#e8e8e8;
$peaLabelFont: Verdana, Geneva,'黑体','微软雅黑', sans-serif;
$peaFontForSmall :'微软雅黑','黑体',sans-serif;
$peaHandwrittenFont :'楷体' ,'楷体_GB2312' ,'宋体',cursive;